/**
* Neosavvy, Inc. Button Bar Directive
*/
.ns-button-bar li {
  display: inline;
  list-style-type: none;
  padding: 5px 21px;
  background: transparent;
  border: none;
}
.ns-button-bar li:hover {
  background: transparent;
  border: none;
}
.ns-button-bar li button {
  cursor: pointer;
}
.ns-button-bar li button.selected {
  color: red;
}
